*{
    box-sizing: border-box;
}

body{
    font-family: PT sans, Verdana, sans-serif;
    font-size: $f-size;
    text-transform: uppercase;
    color: $f-color;
    line-height: 1.5;
    counter-reset: num;
}

a{
    text-decoration: none;
    display: block;
}

ul{
    list-style: none;
}

::-webkit-input-placeholder {color:$f-color;}
::-moz-placeholder          {color:$f-color;}
:-moz-placeholder           {color:$f-color;}
:-ms-input-placeholder      {color:$f-color;}

.clearfix{
    display: table;
    clear: both;
}

