/*Typograghy*/

$f-size: 14px;
$f-size1: 18px;
$f-size2: 30px;
$f-size3: 21px;

$f-color: #000000; //black
$f-color1: #333333; //light-black
$f-color2: #ffffff; //white
$f-color3: #C6C6C6; //grey

/*Backgrouns*/

$bg: #ffffff; //white
$bg1: #81B3D2; //blue
$bg1-darker: #669EC0; //blue darker
$bg1-darkest: #5496BD; //blue darkest
$bg2: #EEEEEE; //grey

/*basic rules*/

$pad-sides20: 0 20px;
$pad-sides40: 0 40px;
