/*Typograghy*/
/*Backgrounds*/
/*basic rules*/
* {
  box-sizing: border-box; }

body {
  font-family: PT sans, Verdana, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  line-height: 1.5;
  counter-reset: num; }

a {
  text-decoration: none;
  display: block; }

ul {
  list-style: none; }

::-webkit-input-placeholder {
  color: #000000; }

::-moz-placeholder {
  color: #000000; }

:-moz-placeholder {
  color: #000000; }

:-ms-input-placeholder {
  color: #000000; }

.clearfix {
  display: block;
  clear: both; }

.l-page-header {
  min-width: 320px; }

.l-main-content {
  min-width: 320px; }

.l-page-footer {
  min-width: 320px; }

.l-centrify {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px; }

@media (min-width: 480px) and (max-width: 1200px) {
  .l-page-header {
    min-width: 768px; }

  .l-main-content {
    min-width: 768px; }

  .l-page-footer {
    min-width: 768px; }

  .l-centrify {
    width: 768px;
    margin: 0 auto;
    padding: 0px; } }
.header-wrap .main-nav {
  display: none; }
  .header-wrap .main-nav ul {
    position: relative; }
  .header-wrap .main-nav li {
    background: #81B3D2;
    border-top: 1px solid #9AC2DB;
    border-bottom: 1px solid #678FA8; }
    .header-wrap .main-nav li:first-child .close {
      position: absolute;
      top: 16px;
      right: 20px;
      width: 23px;
      height: 23px;
      text-indent: -9999px;
      background: url("./../img/icon-cross.svg") no-repeat; }
    .header-wrap .main-nav li:last-child {
      border-bottom: none;
      box-shadow: inset 0px -2px 3px rgba(0, 0, 0, 0.2); }
  .header-wrap .main-nav a {
    font-size: 18px;
    font-weight: bold;
    line-height: 55px;
    text-align: center;
    color: #ffffff; }
    .header-wrap .main-nav a:not(.logo):hover {
      background: #669EC0; }
    .header-wrap .main-nav a:not(.logo):active {
      background: #5496BD;
      color: rgba(255, 255, 255, 0.3);
      border-color: transparent; }
  .header-wrap .main-nav .link-logo {
    position: relative;
    display: block;
    height: 55px;
    padding: 0 20px; }
    .header-wrap .main-nav .link-logo .logo {
      height: 70px;
      width: 138px;
      margin: 0 auto;
      text-indent: -9999px;
      background: url("./../img/logo-sedona@1x.png") no-repeat; }
    .header-wrap .main-nav .link-logo .menu-burger {
      position: absolute;
      top: 17px;
      right: 20px;
      width: 23px;
      height: 22px;
      text-indent: -9999px;
      background: url("./../img/icon-menu.svg") no-repeat; }
.header-wrap .mobile-module {
  position: relative;
  display: block;
  height: 55px;
  padding: 0 20px; }
  .header-wrap .mobile-module .logo {
    height: 70px;
    width: 138px;
    margin: 0 auto;
    text-indent: -9999px;
    background: url("./../img/logo-sedona@1x.png") no-repeat; }
  .header-wrap .mobile-module .menu-burger {
    position: absolute;
    top: 17px;
    right: 20px;
    width: 23px;
    height: 22px;
    text-indent: -9999px;
    background: url("./../img/icon-menu.svg") no-repeat; }

@media (min-width: 480px) and (max-width: 1200px) {
  .header-wrap .main-nav {
    display: block; }
    .header-wrap .main-nav ul {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .header-wrap .main-nav ul li {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 22%;
        border: none;
        background: #ffffff; }
        .header-wrap .main-nav ul li .close {
          display: none; }
        .header-wrap .main-nav ul li:last-child {
          box-shadow: none; }
      .header-wrap .main-nav ul a {
        font-size: 14px;
        color: #000000; }
      .header-wrap .main-nav ul .link-info {
        -webkit-order: -2;
            -ms-flex-order: -2;
                order: -2; }
      .header-wrap .main-nav ul .link-media {
        -webkit-order: -1;
            -ms-flex-order: -1;
                order: -1; }
      .header-wrap .main-nav ul .link-logo {
        width: 140px;
        padding: 0;
        -webkit-order: -1;
            -ms-flex-order: -1;
                order: -1; }
        .header-wrap .main-nav ul .link-logo .menu-burger {
          display: none; }
  .header-wrap .mobile-module {
    display: none; } }
.intro .intro-preview {
  height: 390px;
  background: url("./../img/text-welcome.svg") no-repeat center 50px, url("./../img/text-tothegorgeous.svg") no-repeat center 95px, url("./../img/text-sedona.svg") no-repeat center 175px, url("./../img/text-becausecanyon.svg") no-repeat center 290px, url("./../img/intro-triangle.svg") no-repeat center bottom, url("./../img/photo-background@1x.jpg") no-repeat left top;
  background-size: 140px 35px, auto, 280px 45px, 190px 60px, 200%, 100% 390px; }
.intro .description-block {
  padding-top: 45px;
  padding-bottom: 35px; }
  .intro .description-block .description {
    margin-bottom: 40px;
    padding: 0 25px;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    text-align: center; }
  .intro .description-block .reasons {
    padding: 0 20px;
    line-height: 26px;
    text-align: center; }

@media (min-width: 480px) and (max-width: 1200px) {
  .intro .intro-preview {
    height: 512px;
    background: url("./../img/text-welcome.svg") no-repeat center 75px, url("./../img/text-tothegorgeous.svg") no-repeat center 135px, url("./../img/text-sedona.svg") no-repeat center 215px, url("./../img/text-becausecanyon.svg") no-repeat center 350px, url("./../img/intro-triangle.svg") no-repeat center bottom, url("./../img/photo-background@1x.jpg") no-repeat left top;
    background-size: 190px 45px, 245px 20px, 460px 75px, 300px 70px, 102%, 100% 512px; }
  .intro .description-block {
    padding-top: 60px;
    padding-bottom: 55px; }
    .intro .description-block .description {
      margin-bottom: 20px;
      padding: 0 125px;
      font-size: 21px;
      font-weight: bold; } }
.features {
  background: url("./../img/intro-triangle.svg") no-repeat center top; }
  .features-reason {
    position: relative;
    padding-top: 65px;
    padding-bottom: 45px; }
    .features-reason h2 {
      margin-bottom: 55px;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      color: #ffffff; }
      .features-reason h2:before {
        content: "";
        position: absolute;
        top: 118px;
        left: 50%;
        margin-left: -30px;
        width: 60px;
        height: 1px;
        background: #ffffff; }
      .features-reason h2:after {
        counter-increment: num;
        content: "N" counter(num);
        position: absolute;
        top: 105px;
        left: 50%;
        display: block;
        width: 40px;
        margin-left: -20px;
        background: #81B3D2;
        font-weight: normal;
        color: #ffffff; }
    .features-reason p {
      width: 280px;
      margin: 0 auto;
      color: #ffffff;
      line-height: 21px;
      text-align: center; }
  .features .reason1,
  .features .reason2 {
    background: #81B3D2; }
  .features .fourth-row {
    padding: 0 20px;
    background: #EEEEEE; }
  .features .reason3,
  .features .reason4,
  .features .reason5 {
    padding-top: 35px;
    border-bottom: 1px solid #D6D6D6; }
    .features .reason3 h2,
    .features .reason4 h2,
    .features .reason5 h2 {
      color: #000000; }
      .features .reason3 h2:before,
      .features .reason4 h2:before,
      .features .reason5 h2:before {
        top: 89px;
        background: #000000; }
      .features .reason3 h2:after,
      .features .reason4 h2:after,
      .features .reason5 h2:after {
        top: 75px;
        background: #EEEEEE;
        color: #000000; }
    .features .reason3 p,
    .features .reason4 p,
    .features .reason5 p {
      color: #000000; }
  .features .reason5 {
    border: none; }
  .features-image {
    width: 100%;
    height: 255px; }
  .features .image1 {
    min-width: 320px;
    background: url("./../img/photo-city@1x.jpg") no-repeat center center;
    background-size: 100% 255px; }
  .features .image2 {
    min-width: 320px;
    background: url("./../img/photo-bridge@1x.jpg") no-repeat center center;
    background-size: 100% 255px; }
  .features .infrastructure {
    position: relative;
    width: 320px;
    margin: 0 auto;
    padding: 45px 20px 0 20px; }
    .features .infrastructure:last-child {
      padding-bottom: 45px; }
    .features .infrastructure img {
      position: absolute;
      top: 35px;
      left: 20px;
      width: 40px;
      height: 40px; }
    .features .infrastructure h2 {
      margin-left: 50px;
      margin-bottom: 25px;
      font-size: 18px;
      font-weight: bold; }
    .features .infrastructure p {
      width: 230px;
      margin-left: 50px; }

@media (min-width: 480px) and (max-width: 1200px) {
  .features {
    overflow: hidden; }
    .features .row {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      float: left;
      width: 100%; }
      .features .row > div {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 33.33%; }
      .features .row .features-image {
        width: 66.66%; }
      .features .row .features-reason p {
        width: 165px; }
      .features .row .reason3,
      .features .row .reason4,
      .features .row .reason5 {
        padding-top: 35px;
        border-bottom: none; }
        .features .row .reason3 h2,
        .features .row .reason4 h2,
        .features .row .reason5 h2 {
          color: #000000; }
          .features .row .reason3 h2:before,
          .features .row .reason4 h2:before,
          .features .row .reason5 h2:before {
            top: 89px;
            background: #000000; }
          .features .row .reason3 h2:after,
          .features .row .reason4 h2:after,
          .features .row .reason5 h2:after {
            top: 75px;
            background: #EEEEEE;
            color: #000000; }
        .features .row .reason3 p,
        .features .row .reason4 p,
        .features .row .reason5 p {
          color: #000000; }
      .features .row .infrastructure {
        position: relative;
        padding: 165px 0 45px; }
        .features .row .infrastructure img {
          position: absolute;
          top: 60px;
          left: 50%;
          margin-left: -38px;
          width: 76px;
          height: 70px; }
        .features .row .infrastructure h2 {
          margin-left: 0px;
          margin-bottom: 25px;
          text-align: center;
          font-size: 18px;
          font-weight: bold; }
        .features .row .infrastructure p {
          width: 165px;
          margin: 0 auto;
          text-align: center; }
    .features .second-row .souvenir {
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
    .features .third-row .image2 {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-order: -1;
          -ms-flex-order: -1;
              order: -1; }
    .features .fourth-row {
      padding: 0px; }
      .features .fourth-row .features-reason p {
        width: 180px; } }
.data-section .suggestion {
  padding-top: 30px; }
  .data-section .suggestion h2 {
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: bold;
    text-align: center; }
  .data-section .suggestion p {
    margin-bottom: 30px;
    text-align: center;
    line-height: 24px; }
  .data-section .suggestion .hotel-search {
    display: block;
    width: 100%;
    height: 60px;
    margin-bottom: 35px;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    line-height: 60px;
    background: #81B3D2;
    border: none; }
    .data-section .suggestion .hotel-search:hover {
      background: #669EC0; }
    .data-section .suggestion .hotel-search:active {
      background: #5496BD;
      color: rgba(255, 255, 255, 0.3);
      border-color: transparent; }

@media (min-width: 480px) and (max-width: 1200px) {
  .data-section .suggestion {
    padding-top: 50px; }
    .data-section .suggestion h2 {
      margin-bottom: 40px;
      font-size: 30px;
      font-weight: bold;
      text-align: center; }
    .data-section .suggestion p {
      margin-bottom: 40px;
      text-align: center;
      line-height: 24px;
      padding: 0 165px; }
    .data-section .suggestion .hotel-search {
      display: block;
      width: 455px;
      height: 60px;
      margin: 0 auto;
      margin-bottom: 55px;
      padding: 0;
      font-size: 18px;
      font-weight: bold;
      color: #ffffff;
      text-align: center;
      text-transform: uppercase;
      line-height: 60px;
      background: #81B3D2;
      border: none; }
      .data-section .suggestion .hotel-search:hover {
        background: #669EC0; }
      .data-section .suggestion .hotel-search:active {
        background: #5496BD;
        color: rgba(255, 255, 255, 0.3);
        border-color: transparent; } }
.footer-wrapper {
  width: 180px;
  margin: 0 auto;
  padding: 40px 0; }
  .footer-wrapper .visitlink a {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    text-align: center; }
  .footer-wrapper .social {
    float: left;
    margin-bottom: 40px; }
    .footer-wrapper .social li {
      float: left; }
    .footer-wrapper .social a {
      height: 50px;
      width: 50px;
      margin-right: 4px;
      margin-left: 5px;
      text-indent: -9999px;
      background: #81B3D2; }
    .footer-wrapper .social .twitter {
      background: url("./../img/icon-twitter.svg") no-repeat center center, #81B3D2; }
    .footer-wrapper .social .facebook {
      background: url("./../img/icon-facebook.svg") no-repeat center center, #81B3D2; }
    .footer-wrapper .social .youtube {
      background: url("./../img/icon-youtube.svg") no-repeat center center, #81B3D2; }
  .footer-wrapper .manufactured {
    float: left;
    width: 100%;
    text-align: right;
    vertical-align: top; }
    .footer-wrapper .manufactured a {
      display: inline-block;
      width: 27px;
      height: 35px;
      margin-top: -7px;
      margin-left: 10px;
      background: url("./../img/htmlacademy.svg") no-repeat center center; }
      .footer-wrapper .manufactured a:hover {
        background: url("./../img/htmlacademy-hover.svg") no-repeat center center; }
      .footer-wrapper .manufactured a:active {
        background: url("./../img/htmlacademy.svg") no-repeat center center;
        opacity: .3; }

@media (min-width: 480px) and (max-width: 1200px) {
  .footer-wrapper {
    width: 100%;
    padding: 40px 45px; }
    .footer-wrapper:after {
      content: "";
      display: table;
      clear: both; }
    .footer-wrapper .visitlink,
    .footer-wrapper .social,
    .footer-wrapper .manufactured {
      float: left; }
    .footer-wrapper .visitlink {
      margin-top: 13px; }
      .footer-wrapper .visitlink a {
        margin-bottom: 0; }
    .footer-wrapper .social {
      margin: 0 109px;
      margin-left: 135px; }
    .footer-wrapper .manufactured {
      width: 140px;
      margin-top: 15px; } }
.bg-preview {
  height: 160px;
  background: url("./../img/text-sedona.svg") no-repeat center 50px, url("./../img/intro-triangle.svg") no-repeat center bottom, url("./../img/photo-background@1x.jpg") no-repeat left top;
  background-size: 180px 30px, 200%, 100% 160px; }

@media (min-width: 480px) and (max-width: 1200px) {
  .bg-preview {
    height: 290px;
    background: url("./../img/text-sedona.svg") no-repeat center 100px, url("./../img/intro-triangle.svg") no-repeat center bottom, url("./../img/photo-background@1x.jpg") no-repeat left top;
    background-size: 460px 75px, 102%, 100% 290px; } }
.blog-wrap .blog-intro {
  padding: 50px 35px;
  border-bottom: 2px solid #EEEEEE; }
  .blog-wrap .blog-intro h1 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: bold; }
  .blog-wrap .blog-intro p {
    text-align: center;
    line-height: 24px; }
.blog-wrap .article {
  padding: 40px 0;
  border-bottom: 2px solid #EEEEEE; }
  .blog-wrap .article:last-child {
    border-bottom: none; }
  .blog-wrap .article h2 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 21px;
    font-weight: bold; }
    .blog-wrap .article h2 a {
      color: #000000; }
  .blog-wrap .article p {
    margin-bottom: 30px;
    text-align: center;
    line-height: 24px; }
  .blog-wrap .article .article-info {
    float: left; }
    .blog-wrap .article .article-info li {
      float: left; }
    .blog-wrap .article .article-info a {
      width: 130px;
      padding-left: 25px;
      color: #C6C6C6;
      font-style: italic; }

@media (min-width: 480px) and (max-width: 1200px) {
  .blog-wrap {
    overflow: hidden; }
    .blog-wrap .blog-intro {
      padding: 100px 175px 40px;
      border-bottom: none; }
      .blog-wrap .blog-intro p {
        font-size: 14px;
        text-align: center;
        line-height: 24px; }
    .blog-wrap .articles-wrapper {
      position: relative;
      overflow: hidden; }
      .blog-wrap .articles-wrapper:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -2px;
        display: block;
        width: 2px;
        height: 100%;
        background: #EEEEEE; }
    .blog-wrap .article {
      width: 39.5%;
      float: left;
      margin: 0 40px;
      padding: 0;
      border-bottom: none; }
      .blog-wrap .article .inner-wrap {
        padding: 50px 0px;
        border-bottom: 2px solid #EEEEEE;
        border-collapse: collapse; }
      .blog-wrap .article .top-border1,
      .blog-wrap .article .top-border2 {
        border-top: 2px solid #EEEEEE; } }
.pagination {
  padding: 45px 0px 35px;
  border-top: 2px solid #EEEEEE;
  border-bottom: 2px solid #EEEEEE;
  overflow: hidden; }
  .pagination li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px; }
  .pagination a {
    width: 60px;
    line-height: 60px;
    font-size: 21px;
    text-align: center;
    color: #ffffff;
    background: #81B3D2; }

@media (min-width: 480px) and (max-width: 1200px) {
  .pagination {
    position: relative;
    padding: 0px;
    padding-top: 45px;
    border-top: none;
    border-bottom: none;
    overflow: hidden; }
    .pagination:before {
      content: "page:";
      display: block;
      position: absolute;
      top: 60px;
      left: 140px;
      font-size: 21px;
      font-weight: bold;
      color: #000000; }
    .pagination ul {
      padding-left: 212px; }
    .pagination li {
      float: left;
      margin-right: 10px;
      margin-bottom: 10px; }
    .pagination a {
      width: 60px;
      line-height: 60px;
      font-size: 21px;
      text-align: center;
      color: #ffffff;
      background: #81B3D2; } }
.post-wrap .post-intro {
  padding: 50px 0 40px; }
  .post-wrap .post-intro h1 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: bold; }
  .post-wrap .post-intro p {
    margin-bottom: 30px;
    padding: 0 20px;
    text-align: center;
    line-height: 24px; }
  .post-wrap .post-intro .article-info {
    float: left; }
    .post-wrap .post-intro .article-info li {
      float: left; }
    .post-wrap .post-intro .article-info a {
      width: 130px;
      padding-left: 25px;
      color: #C6C6C6;
      font-style: italic; }
.post-wrap p {
  line-height: 26px; }
.post-wrap ul.list {
  margin: 40px 0; }
  .post-wrap ul.list li {
    position: relative;
    margin-bottom: 5px;
    padding-left: 20px;
    font-weight: bold; }
    .post-wrap ul.list li:before {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      width: 7px;
      height: 7px;
      background: #81B3D2; }
.post-wrap blockquote {
  margin: 40px 0;
  padding-left: 20px;
  border-left: 3px solid #81B3D2;
  line-height: 24px; }
  .post-wrap blockquote span {
    text-transform: none;
    font-style: italic;
    color: #766357; }
.post-wrap .main-title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 24px;
  font-weight: bold; }
.post-wrap .main-title + p {
  margin-bottom: 40px;
  font-size: 18px;
  text-align: center;
  text-transform: none;
  line-height: 26px;
  color: #766357; }
.post-wrap .section-title {
  margin-top: 45px;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: bold; }

@media (min-width: 480px) and (max-width: 1200px) {
  .post-wrap .post-intro {
    position: relative;
    padding: 100px 155px 40px;
    border-bottom: 2px solid #EEEEEE; }
    .post-wrap .post-intro p {
      margin-bottom: 15px;
      font-size: 14px;
      text-align: center;
      line-height: 24px; }
    .post-wrap .post-intro .article-info {
      position: absolute;
      bottom: -12px;
      left: 50%;
      margin-left: -130px;
      background: #ffffff; }
  .post-wrap .post {
    padding: 60px 45px 55px; }
    .post-wrap .post .main-title {
      margin-bottom: 40px;
      font-size: 40px;
      font-weight: bold; }
    .post-wrap .post .main-title + p {
      margin-bottom: 50px;
      font-size: 24px;
      line-height: 30px; }
    .post-wrap .post .section-title {
      margin-top: 45px;
      margin-bottom: 40px;
      font-size: 30px;
      font-weight: bold; }
    .post-wrap .post blockquote {
      margin-bottom: 0; } }
.post-navigation {
  padding: 45px 15px;
  border-top: 2px solid #EEEEEE;
  border-bottom: 2px solid #EEEEEE;
  overflow: hidden; }
  .post-navigation li {
    width: 100%;
    float: left;
    margin-bottom: 20px; }
  .post-navigation .prev,
  .post-navigation .next {
    width: 130px; }
  .post-navigation .prev {
    margin-right: 20px; }
  .post-navigation a {
    line-height: 56px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    border: 2px solid #81B3D2; }

@media (min-width: 480px) and (max-width: 1200px) {
  .post-navigation {
    padding: 0px;
    border-top: none;
    border-bottom: none; }
    .post-navigation ul {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding-left: 45px; }
    .post-navigation li {
      float: none;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 210px;
      margin-right: 25px;
      margin-bottom: 25px; }
    .post-navigation .prev,
    .post-navigation .next {
      width: 210px;
      margin-right: 25px; }
    .post-navigation .prev {
      -webkit-order: 0;
          -ms-flex-order: 0;
              order: 0; }
    .post-navigation .next {
      margin-right: 0;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; }
    .post-navigation .to-list {
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; } }
.form-wrap .form-intro {
  padding-top: 75px;
  padding-bottom: 20px; }
  .form-wrap .form-intro h1 {
    margin-bottom: 35px;
    font-size: 18px;
    font-weight: bold;
    text-align: center; }
  .form-wrap .form-intro p {
    line-height: 24px;
    text-align: center; }
.form-wrap .form > div {
  padding: 25px 0;
  border-top: 2px solid #EEEEEE; }
.form-wrap .form label {
  position: relative;
  display: block;
  padding-left: 20px; }
  .form-wrap .form label span {
    margin-left: 6px;
    color: #ff0000; }
.form-wrap .form input {
  display: block;
  width: 100%;
  padding: 0;
  font-size: 18px;
  line-height: 60px;
  text-transform: none;
  color: #000000;
  background: #EEEEEE;
  border: none; }
  .form-wrap .form input[type="text"] {
    padding-left: 20px; }
.form-wrap .form .form-block-title {
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: bold;
  text-align: center; }
.form-wrap .form .form-introduction-block div:not(:last-child) {
  margin-bottom: 25px; }
.form-wrap .form .form-introduction-block label {
  margin-bottom: 15px; }
.form-wrap .form .form-impression-block .radio-wrap div {
  margin-bottom: 50px; }
  .form-wrap .form .form-impression-block .radio-wrap div:last-child {
    margin-bottom: 25px; }
.form-wrap .form .form-impression-block label {
  position: relative;
  padding-left: 70px; }
  .form-wrap .form .form-impression-block label::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #EEEEEE; }
.form-wrap .form .form-impression-block input {
  display: none; }
  .form-wrap .form .form-impression-block input:checked ~ label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 18px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000000; }
.form-wrap .form .form-trip-block div:not(:last-child) {
  margin-bottom: 25px; }
.form-wrap .form .form-trip-block label {
  margin-bottom: 15px; }
.form-wrap .form .form-trip-block .counter-wrapper {
  overflow: hidden; }
.form-wrap .form .form-trip-block .arrive-counter {
  overflow: hidden; }
  .form-wrap .form .form-trip-block .arrive-counter span {
    float: left;
    width: 60px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    background: #EEEEEE;
    cursor: pointer; }
    .form-wrap .form .form-trip-block .arrive-counter span:last-child {
      margin-right: 0; }
  .form-wrap .form .form-trip-block .arrive-counter input {
    width: 140px;
    float: left;
    margin-right: 10px; }
.form-wrap .form .form-trip-block .depature-date input {
  line-height: 56px;
  border: 2px solid #B8B8B8; }
.form-wrap .form .form-travelers-block div:not(:last-child) {
  margin-bottom: 25px; }
.form-wrap .form .form-travelers-block label {
  margin-bottom: 15px; }
.form-wrap .form .traveler-counter {
  overflow: hidden; }
  .form-wrap .form .traveler-counter span {
    float: left;
    width: 60px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    background: #EEEEEE;
    cursor: pointer; }
    .form-wrap .form .traveler-counter span:last-child {
      margin-right: 0; }
  .form-wrap .form .traveler-counter input {
    width: 140px;
    float: left;
    margin-right: 10px; }
.form-wrap .form .traveler {
  overflow: hidden; }
  .form-wrap .form .traveler .number {
    float: left;
    width: 60px;
    margin-top: 36px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    background: #EEEEEE; }
  .form-wrap .form .traveler .traveler-info {
    float: right;
    width: 210px; }
.form-wrap .form .sightseeings .checks-wrapper div {
  margin-bottom: 70px; }
.form-wrap .form .sightseeings .checks-wrapper label {
  position: relative;
  padding-left: 80px; }
  .form-wrap .form .sightseeings .checks-wrapper label:before {
    content: "";
    position: absolute;
    top: -19px;
    left: 0;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: #EEEEEE; }
.form-wrap .form .sightseeings .checks-wrapper input {
  display: none; }
  .form-wrap .form .sightseeings .checks-wrapper input:checked ~ label:after {
    content: "";
    position: absolute;
    top: -5px;
    left: 23px;
    display: block;
    width: 10px;
    height: 20px;
    border: 5px solid #000000;
    border-top: none;
    border-left: none;
    background: #EEEEEE;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg); }
.form-wrap .form .photo-block {
  position: relative;
  padding-bottom: 15px; }
  .form-wrap .form .photo-block .unsuccess {
    position: absolute;
    width: 320px;
    top: 0px;
    display: none;
    margin: 0 -20px;
    padding-top: 40px;
    padding-bottom: 15px;
    background: #ffffff;
    box-shadow: 0px 19px 15px -15px rgba(0, 0, 0, 0.15);
    z-index: 100; }
    .form-wrap .form .photo-block .unsuccess p {
      margin-bottom: 30px;
      padding: 0 35px;
      line-height: 24px;
      text-align: center; }
    .form-wrap .form .photo-block .unsuccess button {
      display: block;
      width: 180px;
      margin: 0 auto;
      margin-bottom: 25px;
      line-height: 60px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      color: #ffffff;
      border: none;
      background: #81B3D2;
      cursor: pointer; }
  .form-wrap .form .photo-block .successful {
    position: absolute;
    width: 320px;
    top: 350px;
    display: none;
    margin: 0 -20px;
    padding-top: 40px;
    background: #ffffff;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15);
    z-index: 100; }
    .form-wrap .form .photo-block .successful p {
      margin-bottom: 30px;
      padding: 0 35px;
      line-height: 24px;
      text-align: center; }
    .form-wrap .form .photo-block .successful button {
      display: block;
      width: 280px;
      margin: 0 auto;
      line-height: 60px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      color: #ffffff;
      text-transform: uppercase;
      border: 20px solid #EEEEEE;
      background: #81B3D2;
      cursor: pointer; }
  .form-wrap .form .photo-block .photo-wrapper {
    float: left;
    margin-left: -17.5px;
    margin-right: -17.5px; }
    .form-wrap .form .photo-block .photo-wrapper .img-wrapper {
      position: relative;
      float: left;
      margin-right: 17.5px;
      margin-left: 17.5px;
      margin-bottom: 35px; }
      .form-wrap .form .photo-block .photo-wrapper .img-wrapper img {
        display: block;
        max-width: 100%;
        width: 70px;
        height: 70px; }
      .form-wrap .form .photo-block .photo-wrapper .img-wrapper span {
        position: absolute;
        top: -15px;
        left: 20px;
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #EEEEEE; }
.form-wrap .form .file-upload {
  padding-left: 0;
  cursor: pointer; }
  .form-wrap .form .file-upload input {
    display: none; }
  .form-wrap .form .file-upload .button {
    display: block;
    margin: 0;
    margin-bottom: 55px;
    line-height: 60px;
    text-align: center;
    font-size: 21px;
    color: #C6C6C6;
    background: #F2F2F2; }
.form-wrap .form .form-send {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 80px;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  line-height: 60px;
  text-transform: uppercase;
  border: none;
  background: #81B3D2;
  clear: both; }

@media (min-width: 480px) and (max-width: 1200px) {
  .form-wrap .form-intro {
    padding-top: 75px;
    padding-bottom: 80px; }
    .form-wrap .form-intro h1 {
      margin-bottom: 40px;
      font-size: 30px;
      font-weight: bold;
      text-align: center; }
    .form-wrap .form-intro p {
      margin-bottom: 0px;
      padding: 0 160px;
      font-size: 14px;
      text-align: center;
      line-height: 24px; }
  .form-wrap .form {
    width: 768px;
    padding: 0 60px;
    margin: 0 auto; }
    .form-wrap .form > div {
      position: relative;
      border-top: 2px solid #EEEEEE; }
    .form-wrap .form .form-block-title {
      position: absolute;
      top: -15px;
      left: 50%;
      margin-left: -200px;
      width: 400px;
      text-align: center;
      font-size: 21px;
      background: #ffffff; }
    .form-wrap .form .l-centrify {
      width: 648px; }
    .form-wrap .form .form-introduction-block {
      padding-top: 45px;
      padding-bottom: 50px; }
      .form-wrap .form .form-introduction-block:after {
        content: "";
        display: table;
        clear: both; }
      .form-wrap .form .form-introduction-block .lastname,
      .form-wrap .form .form-introduction-block .name,
      .form-wrap .form .form-introduction-block .middlename {
        float: left;
        width: 175px;
        margin-right: 60px; }
      .form-wrap .form .form-introduction-block .middlename {
        margin-bottom: 25px;
        margin-right: 0px; }
    .form-wrap .form .form-impression-block .radio-wrap {
      padding: 75px 0; }
      .form-wrap .form .form-impression-block .radio-wrap > div {
        float: left; }
        .form-wrap .form .form-impression-block .radio-wrap > div:nth-child(2n+1) {
          float: right; }
        .form-wrap .form .form-impression-block .radio-wrap > div label {
          font-size: 18px;
          font-weight: bold;
          text-transform: none; }
    .form-wrap .form div.form-trip-block {
      padding-top: 45px;
      padding-bottom: 50px; }
      .form-wrap .form div.form-trip-block:after {
        content: "";
        display: table;
        clear: both; }
      .form-wrap .form div.form-trip-block .l-centrify > div {
        float: left;
        width: 175px;
        margin-right: 60px; }
        .form-wrap .form div.form-trip-block .l-centrify > div:nth-child(3n+1) {
          margin-right: 0px; }
      .form-wrap .form div.form-trip-block .arrive-counter span,
      .form-wrap .form div.form-trip-block .arrive-counter input {
        margin-right: 0; }
      .form-wrap .form div.form-trip-block .arrive-counter input {
        width: 55px; }
      .form-wrap .form div.form-trip-block .depature-date input {
        line-height: 56px; }
    .form-wrap .form .form-travelers-block {
      padding-top: 45px;
      padding-bottom: 90px; }
      .form-wrap .form .form-travelers-block div:not(:last-child) {
        margin-bottom: 35px; }
      .form-wrap .form .form-travelers-block .counter-wrapper {
        margin-bottom: 15px; }
        .form-wrap .form .form-travelers-block .counter-wrapper label {
          text-align: center; }
        .form-wrap .form .form-travelers-block .counter-wrapper .traveler-counter {
          width: 175px;
          margin: 0 auto; }
          .form-wrap .form .form-travelers-block .counter-wrapper .traveler-counter span,
          .form-wrap .form .form-travelers-block .counter-wrapper .traveler-counter input {
            margin-right: 0; }
          .form-wrap .form .form-travelers-block .counter-wrapper .traveler-counter input {
            width: 55px; }
      .form-wrap .form .form-travelers-block .traveler span {
        margin-right: 7px; }
      .form-wrap .form .form-travelers-block .traveler .traveler-info {
        float: right;
        width: 581px; }
        .form-wrap .form .form-travelers-block .traveler .traveler-info > div {
          float: left;
          width: 186px;
          margin-right: 7px; }
          .form-wrap .form .form-travelers-block .traveler .traveler-info > div:last-child {
            margin-right: none; }
    .form-wrap .form .sightseeings:after {
      content: "";
      display: table;
      clear: both; }
    .form-wrap .form .sightseeings h2 {
      top: -30px; }
    .form-wrap .form .sightseeings .checks-wrapper {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      overflow: hidden;
      padding: 70px 90px;
      padding-bottom: 0; }
      .form-wrap .form .sightseeings .checks-wrapper div {
        width: 230px;
        margin-bottom: 70px;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
      .form-wrap .form .sightseeings .checks-wrapper label {
        position: relative;
        padding-left: 80px;
        font-size: 18px;
        font-weight: bold;
        text-transform: none; }
        .form-wrap .form .sightseeings .checks-wrapper label:before {
          content: "";
          position: absolute;
          top: -19px;
          left: 0;
          display: block;
          width: 60px;
          height: 60px;
          border-radius: 10px;
          background: #EEEEEE; }
      .form-wrap .form .sightseeings .checks-wrapper input {
        display: none; }
        .form-wrap .form .sightseeings .checks-wrapper input:checked ~ label:after {
          content: "";
          position: absolute;
          top: -5px;
          left: 23px;
          display: block;
          width: 10px;
          height: 20px;
          border: 5px solid #000000;
          border-top: none;
          border-left: none;
          background: #EEEEEE;
          -webkit-transform: rotate(40deg);
                  transform: rotate(40deg); }
    .form-wrap .form .photo-block {
      position: relative;
      padding-top: 70px;
      padding-bottom: 15px; }
      .form-wrap .form .photo-block:after {
        content: "";
        display: table;
        clear: both; }
      .form-wrap .form .photo-block .l-centrify:after {
        content: "";
        display: table;
        clear: both; }
      .form-wrap .form .photo-block .unsuccess {
        position: absolute;
        width: 400px;
        top: -25px;
        left: 50%;
        display: block;
        margin-left: -200px;
        padding: 70px 65px 50px;
        background: #ffffff;
        box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
        z-index: 100; }
        .form-wrap .form .photo-block .unsuccess h2.form-block-title {
          width: initial;
          position: static;
          margin: 0 auto;
          margin-bottom: 40px;
          padding: 0 10px;
          font-size: 30px;
          line-height: 40px; }
        .form-wrap .form .photo-block .unsuccess p {
          margin: 0 -50px;
          margin-bottom: 40px;
          line-height: 26px;
          text-align: center; }
        .form-wrap .form .photo-block .unsuccess button {
          display: block;
          width: 275px;
          margin: 0 auto;
          margin-bottom: 0px;
          line-height: 60px;
          text-align: center;
          font-size: 21px;
          font-weight: bold;
          color: #ffffff;
          border: none;
          background: #81B3D2;
          cursor: pointer; }
      .form-wrap .form .photo-block .successful {
        position: absolute;
        width: 640px;
        top: 640px;
        display: none;
        margin: 0 auto;
        padding-top: 60px;
        background: #ffffff;
        box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
        z-index: 100; }
        .form-wrap .form .photo-block .successful h2 {
          position: static;
          margin: 0 auto;
          margin-bottom: 40px;
          font-size: 30px; }
        .form-wrap .form .photo-block .successful p {
          margin-bottom: 40px;
          padding: 0 110px;
          line-height: 24px;
          text-align: center; }
        .form-wrap .form .photo-block .successful button {
          display: block;
          width: 640px;
          margin: 0 auto;
          line-height: 60px;
          text-align: center;
          font-size: 18px;
          font-weight: bold;
          color: #ffffff;
          text-transform: uppercase;
          border-bottom: 45px solid #EEEEEE;
          border-top: 45px solid #EEEEEE;
          border-left: 90px solid #EEEEEE;
          border-right: 90px solid #EEEEEE;
          background: #81B3D2;
          cursor: pointer; }
      .form-wrap .form .photo-block .photo-wrapper {
        float: left;
        margin-left: -32.5px;
        margin-right: -32.5px;
        padding: 0 35px;
        padding-top: 40px; }
        .form-wrap .form .photo-block .photo-wrapper .img-wrapper {
          position: relative;
          float: left;
          margin-right: 32.5px;
          margin-left: 32.5px;
          margin-bottom: 35px; }
          .form-wrap .form .photo-block .photo-wrapper .img-wrapper .img-name {
            display: block;
            text-transform: uppercase; }
          .form-wrap .form .photo-block .photo-wrapper .img-wrapper img {
            display: block;
            max-width: 100%;
            width: 140px;
            height: 140px;
            margin-bottom: 20px; }
          .form-wrap .form .photo-block .photo-wrapper .img-wrapper span {
            position: absolute;
            top: -30px;
            left: 110px;
            display: block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: #EEEEEE; }
    .form-wrap .form .file-upload {
      width: 460px;
      margin: 0 auto;
      padding-left: 0;
      cursor: pointer; }
      .form-wrap .form .file-upload input {
        display: none; }
      .form-wrap .form .file-upload .button {
        display: block;
        margin: 0;
        margin-bottom: 55px;
        line-height: 60px;
        text-align: center;
        font-size: 21px;
        color: #C6C6C6;
        background: #F2F2F2; }
    .form-wrap .form .form-send {
      display: block;
      width: 460px;
      margin: 0 auto;
      margin-bottom: 100px;
      font-size: 21px;
      font-weight: bold;
      color: #ffffff;
      line-height: 60px;
      text-transform: uppercase;
      border: none;
      background: #81B3D2;
      clear: both; } }
