.bg-preview{

		height: 160px;
		background: url("./../img/text-sedona.svg") no-repeat center 50px,
					url("./../img/intro-triangle.svg") no-repeat center bottom,
					url("./../img/photo-background@1x.jpg") no-repeat left top;
					
		background-size: 180px 30px, 200%, 100% 160px; 
	
}