.blog-wrap{

	.blog-intro{
		padding: 50px 35px;
		border-bottom: 2px solid $bg2;

		h1{
			margin-bottom: 40px;
			text-align: center;
			font-size: $f-size2;
			font-weight: bold;
		}

		p{
			text-align: center;
			line-height: 24px;
		}
	}

	.article{
		padding: 40px 0;
		border-bottom: 2px solid $bg2;
		
		&:last-child{
				border-bottom: none;
			}

		h2{
			margin-bottom: 30px;
			text-align: center;
			font-size: $f-size3;
			font-weight: bold;

			a{
				color: $f-color;
			}
		}

		p{
			margin-bottom: 30px;
			text-align: center;
			line-height: 24px;
		}

		.article-info{
			float: left;

			li{
				float: left;
			}

			a{
				width: 130px;
				padding-left: 25px;
				color: $f-color3;
				font-style: italic;
			}
		}
	}

}

@media (min-width: 480px) and (max-width: 1200px) {

	.blog-wrap{	
		
		overflow: hidden;

		.blog-intro{
			padding: 100px 175px 40px;
			border-bottom: none;

			p{
				font-size: $f-size;
				text-align: center;
				line-height: 24px;
			}
		}	

		.articles-wrapper{
			position: relative;
			overflow: hidden;

			&:before{
				content: "";
				position: absolute;
				top: 0;
				left: 50%;
				margin-left: -2px;
				display: block;
				width: 2px;
				height: 100%;
				background: $bg2;
			}
		}

		.article{
			width: 39.5%;
			float: left;
			margin: 0 40px;
			padding: 0;
			border-bottom: none;

			.inner-wrap{
				padding: 50px 0px;
				border-bottom: 2px solid $bg2;
				border-collapse: collapse;
			}

			.top-border1,
			.top-border2{
				border-top: 2px solid $bg2;
			}
		}

	}

}