.post-navigation{
	padding: 45px 15px;
	border-top: 2px solid $bg2;
	border-bottom: 2px solid $bg2;
	overflow: hidden;
	
	li{
		width: 100%;
		float: left;
		margin-bottom: 20px;
	}

	.prev,
	.next{
		width: 130px;
	}

	.prev{
		margin-right: 20px;
	}

	a{
		line-height: 56px;
		font-size: $f-size3;
		font-weight: bold;
		text-align: center;
		color: $f-color;
		border: 2px solid $bg1;
	}

}

@media (min-width: 480px) and (max-width: 1200px) {

	.post-navigation{
		padding: 0px;
		border-top: none;
		border-bottom: none;
		
		ul{
			display: flex;
			padding-left: 45px;
		}

		li{
			float: none;
			flex-direction: column;
			width: 210px;
			margin-right: 25px;
			margin-bottom: 25px;
		}

		.prev,
		.next{
			width: 210px;
			margin-right: 25px;
		}
		
		.prev{
			order: 0;
		}

		.next{
			margin-right: 0;
			order: 2;
		}

		.to-list{
			order: 1;
		}

		

	}

}

@media (min-width: 1200px) {

	.post-navigation{
		padding: 0px;
		border-top: none;
		border-bottom: none;
		
		ul{
			display: flex;
			padding-left: 200px;
		}

		li{
			float: none;
			flex-direction: column;
			width: 210px;
			margin-right: 80px;
			margin-bottom: 25px;
		}

		.prev,
		.next,
		.to-list{
			width: 210px;
			margin-right: 80px;
		}
		
		.prev{
			order: 0;
		}

		.next{
			margin-right: 0;
			order: 2;
		}

		.to-list{
			order: 1;
		}

		

	}

}